{% extends 'base.html' %}
 
{% block content %}
{{ super() }}
<p>Линейная прогрессия
<form action="/linear_regression" method="POST">
    <p><input type="list1" class="form_text" name="list1"> Рост</p>
    <p><input name="list2" class="form_text" type="text"> Оценки в школе</p>
    <p><input name="list3" class="form_text" type="text"> Закончил университет</p>
    <p><input name="list4" class="form_text" type="text"> Зарплата</p>
    <input type="submit" class="form_btn" value="Узнать успешность">
    </p>
</form>
<h1>{{prediction}}</h1>
<h1>{{metric}}</h1>

{% endblock %}